<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @endorsement.name %>
</p>

<p>
  <strong>Descriptor:</strong>
  <%= @endorsement.descriptor %>
</p>

<p>
  <strong>Endorsement message:</strong>
  <%= @endorsement.endorsement_message %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @endorsement.approved %>
</p>

<%= link_to 'Edit', edit_endorsement_path(@endorsement) %> |
<%= link_to 'Back', endorsements_path %>
