<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nancy for Rosemead</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid" id="home">
    <div class="row masterbar">
      <div class="col-xl-1 col-lg-1 col-md-1 hidden-sm hidden-xs hbar"></div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5 col-xs-5 hlogo">
        <%= image_tag "n4rmed.jpg" %>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-8 hidden-sm hidden-xs hbar">
        <div class="navbar-collapse collapse" id="collapsibleNavbar">
          <ul class="links">
            <li class="expo"><%= link_to "Home", simple_pages_index_path %></li>
            <li class="expo"><%= link_to "About", simple_pages_about_path %></li>
            <li class="expo"><a>Endorsements</a></li>
            <li class="expo"><%= link_to "Contact", simple_pages_contact_path %></li>
            <li class="expo"><a>Donations</a></li>
          </ul>
        </div>
      </div>
      <div class="hidden-xl hidden-lg hidden-md col-sm-7 col-xs-7 hbar">
        <ul class="dropdown burger">
          <li class="dropbtn"><i class="fas fa-bars"></i>
            <ul class="dropdown-content">
              <li><%= link_to "Home", simple_pages_index_path %></li>
              <li><%= link_to "About", simple_pages_about_path %></li>
              <li><a>Endorsements</a></li>
              <li><%= link_to "Contact", simple_pages_contact_path %></li>
              <li><a>Donations</a></li>
            </ul></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </div>

  <footer>
    &copy; 2018 Nancy For Rosemead | 
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path) %>
    <% end %>
  </footer>
</body>
</html>
